body{
    background-color: rgb(24, 24, 24);
}
.grid-icon{
    display: grid ;
    grid-template-columns: 50px 90px; 
    padding-top: 16px;
}
.galog-navbar{
    color: white;
}

.image-nav-sushi{
    padding-bottom: 14px;
}

.home-text{
    color: white;
    text-align: center;
}

.home-title{
    padding-top: 50px;
}